.graph {
    margin-top: 30px;
    width: 100%;
}
/*line chart value line*/

.chartline {
    fill: none;
    stroke-width: 2px;
}

.chartline.off {
    opacity: 0;
}

/*standard axes*/

.axis {
    font-size: 12px;
    color: #333;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis .minor line {
    stroke: #efefef;
    /*    stroke-dasharray: 2, 2;*/
}

.legend {
    font-size: 12px;
    color: #333;
}
/*page elements*/

#tag a {
    font-size: 9px;
    /* float: right; */
    
    display: block;
    font-weight: 900;
    letter-spacing: 1.5pt;
    text-align: right;
    bottom: 0px;
    left: 180px;
    text-decoration: none;
    color: inherit;
}

#urban {
    color: #1696d2;
}

.charttitle {
    font-size: 16px;
    text-transform: uppercase;
}

.scenario {
    font-size: 14px;
    width: 275px;
    height: 2em;
    display: inline-block;
    padding-left: 15px;
    margin-right: 30px;
}
.s1 {
    background-color: #fdbf11;
    color: #333;
}
.s2 {
    background-color: #e66600;
    color: #fff;
}
.s3 {
    background-color: #1696d2;
    color: #fff;
}
.s4 {
    background-color: #a2d4ec;
    color: #333;
}
.s5 {
    background-color: #ec008b;
    color: #fff;
}
.s6 {
    background-color: #55b748;
    color: #fff;
}
.s7 {
    background-color: #ccc;
    color: #333;
}
