.button-page-list li {
    margin-bottom: 10px;
    list-style: none;
}

.urban-switch {
    font-size: 13px;
    font-family: Lato, sans-serif;
    height: 26px;
    width: 265px;
    border: none;
    display: inline-block;
    line-height: 12px;
    text-align: left;
    margin-right: 30px;
    border-radius: 10px;
    padding-right: 10px;
}

.switch {
    background-image: url(../img/off-on.png);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 49px;
    height: 18px;
    display: inline-block;
    background-size: cover;
    margin-right: 9px;
    top: 4px;
    left: 4px;
    position: relative;
}

.onoff {
    font-size: 11px;
    text-transform: uppercase;
    width: 40px;
    line-height: 12px;
    margin-right: 9px;
    top: 4px;
    left: 4px;
    position: relative;
    background-color: #000;
    border-radius: 10px;
    border-color: none;
    padding-top: 2px;
    padding-bottom: 3px;
}

.off {
    background-position: 0px 0px;
}

.on {
    background-position: 0px -18px;
}

.s1 {
    background-color: #fdbf11;
    color: #333;
}

.s2 {
    background-color: #e66600;
    color: #fff;
}

.s3 {
    background-color: #1696d2;
    color: #fff;
}

.s4 {
    background-color: #a2d4ec;
    color: #333;
}

.s5 {
    background-color: #ec008b;
    color: #fff;
}

.s6 {
    background-color: #55b748;
    color: #fff;
}

.s7 {
    background-color: #ccc;
    color: #333;
}